.proxy-dd { position:absolute;z-index:99999;border:2px dotted #666;}
.proxy-rectselector{ position:absolute;z-index:99999;border:1px dotted #666;overflow:hidden;}
.proxy-layoutPosition{ position:absolute;z-index:99999;background:red;height:2px;width:20px;overflow:hidden;}
